.light-gray__box-2 {
	position: relative;
	background: #E8EBED;
}

.light-gray__box-2 {
	-ms-grid-column: 3;
	-ms-grid-row: 1;
}

@media screen and (max-width: 479px) {
	.light-gray__box-2 {
		-ms-grid-column: 3;
		-ms-grid-row: 1;
	}
}