@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);
.chat {
	box-sizing: border-box;
}

.page__chat {
	max-width: 651px;
	margin: 30px auto 0;
	box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.15);
	background-image: url(./images/bg-img.jpg);
	background-repeat: no-repeat;
	background-size: auto;
	background-position-y: -5px;
	background-position-x: -15px;
}

.chat__messages-wrapper {
	width: 100%;
	height: 517px;
	padding: 30px 0;
	box-sizing: border-box;
	overflow-y: auto;
}

.chat__textbox-wrapper {
	height: 240px;
	box-sizing: border-box;
	padding: 20px 20px 30px;
	border-top: 1px solid #DBDBDB;
}

.chat__input-field {
	min-width: 96%;
	max-width: 96%;
	min-height: 130px;
	max-height: 130px;
	background: #FFFFFF;
	border: 1px solid #DBDBDB;
	box-sizing: border-box;
	border-radius: 4px;
	overflow-y: auto;
	padding: 10px;
	font-family: Noto Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 19px;
	color: #696969;
}

.chat__button {
	width: 144px;
	height: 41px;
	margin-top: 20px;
	background: #0F54B9;
	;
	box-shadow: 0px 4px 6px rgba(15, 84, 185, 0.3);
	border-radius: 21px;
	border: none;
	font-family: 'Proxima Nova';
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	color: #FFFFFF;
}

.chat__button:hover {
	background: #115dd0;
	cursor: pointer;
}

.message {
	display: flex;
}

.chat__message {
	width: 100%;
	margin: 20px 0;
}

.message_status_received {
	flex-direction: row;
}

.message_status_sent {
	flex-direction: row-reverse;
}

.message__avatar {
	width: 47px;
	height: 47px;
}

.message__avatar_status_sent {
	margin: 0 20px 0 18px;
}

.message__avatar_status_reseived {
	margin-right: 18px;
	margin: 0 18px 0 15px;
}

.message__border-text {
	max-width: 470px;
	padding: 12px;
	background: #F1F3F5;
	border-radius: 5px;
	box-sizing: border-box;
	position: relative;
}

.message__border-text_status_reseived:after {
	content: "";
	display: block;
	position: absolute;
	left: -8px;
	top: 5px;
	border: 8px solid transparent;
	border-top: 8px solid#F1F3F5;
}

.message__border-text_status_sent:after {
	content: "";
	display: block;
	position: absolute;
	right: -8px;
	top: 5px;
	border: 8px solid transparent;
	border-top: 8px solid#F1F3F5;
}

.message__text {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	color: #000000;
	margin: 0;
}

.chat__date {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	color: #000000;
	display: block;
	max-width: 140px;
	min-width: 140px;
	margin: 0 auto;
	text-align: center;
}

.chat__date-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.chat__date-line {
	width: 100%;
	height: 1px;
	background-color: #DBDBDB;
}