@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);
.page {
	max-width: 768px;
	margin: 0 auto;
}

/* header */

.header {
	display: flex;
}

.page__header {
	width: 100%;
	max-height: 90px;
	justify-content: center;
	background-color: #C4C4C4;
	padding: 30px 0 40px;
	margin-bottom: 10px;
}

.header__title {
	margin: 0;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 20px;
	color: #000000;
}

/* Section squares */

.squares {
	display: grid;
	grid-template-rows: repeat(2, 1fr);
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
}

.page__squares {
	width: 97%;
	margin: 0 auto;
	box-sizing: border-box;
}

.squares__list {
	display: flex;
	align-items: flex-end;
	margin-top: 15px;
	justify-content: space-between;
}

.squares__list-item {
	font-family: Noto Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 19px;
	color: #000000;
	margin: 0 15px;
}

.squares__list-item_alignment_right {
	text-align: right;
}

.squares__delimiter {
	width: 100%;
	border-bottom: 2px dotted #000;
}

.squares__box-1 {
	grid-row-start: 1;
	grid-row-end: 3;
	grid-column-start: 1;
	grid-column-end: 3;
	background: #A2A9B7;
	position: relative;
	overflow: auto;
}

.squares__box-2 {
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 3;
	grid-column-end: 4;
	position: relative;
	padding-bottom: 100%;
	background: #A2A9B7;
}

.squares__box-3 {
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 3;
	grid-column-end: 4;
	position: relative;
	padding-bottom: 100%;
	background: #A2A9B7;
}

.box-subtitle {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	color: #000000;
	position: absolute;
	max-width: 212px;
	bottom: 5px;
	left: 10px;
}

.box-subtitle_theme_light {
	color: #FFFFFF;
}

.squares__text {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 26px;
	text-align: center;
	color: #FFFFFF;
	max-width: 85%;
	margin: 30px auto 0;
}

.wrapper-content {
	position: relative;
	box-sizing: border-box;
	overflow: hidden;
}

/* до 520px */

@media screen and (max-width: 520px) {
	.squares__text {
		position: absolute;
		left: 8%;
		top: 0px;
		margin-top: 20px;
	}
}

/* Section light-gray */

.page__light-gray {
	width: 97%;
	margin: 0 auto;
	box-sizing: border-box;
	margin-top: 10px;
}

.light-gray {
	display: grid;
	grid-template-rows: repeat(2, 155px);
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
}

.light-gray__box-1 {
	position: relative;
	background: #E8EBED;
}

.light-gray__box-2 {
	position: relative;
	background: #E8EBED;
}

.light-gray__box-3 {
	position: relative;
	background: #90BCE8;
}

.light-gray__box-4 {
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 1;
	grid-column-end: 3;
	position: relative;
	background: #E8EBED;
}

.light-gray__box-5 {
	position: relative;
	background: #FEBF26;
}

/* Section light-green */

.light-green {
	width: 97%;
	margin: 10px auto 10px;
}

.squares__box-1_position_reverse {
	grid-row-start: 1;
	grid-row-end: 3;
	grid-column-start: 2;
	grid-column-end: 4;
}

.squares__box-2_position_reverse {
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 1;
	grid-column-end: 2;
}

.squares__box-3_position_reverse {
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 1;
	grid-column-end: 2;
}

.squares__box-3_bg-img {
	background-image: url(./images/box-bg.jpg);
	background-size: cover;
}

.squares__box-3_bg-img:hover {
	background-image: url(./images/bg-blur.svg);
	background-size: 110%;
	background-position: center center;
	cursor: pointer;
	width: 100%;
}

.squares__box_theme_light-green {
	background: #E3EBD3;
}

/* Section mint-peach */

.mint-peach {
	display: grid;
	grid-template-rows: repeat(2, 155px);
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
}

.page__mint-peach {
	width: 97%;
	margin: 10px auto 10px;
	box-sizing: border-box;
	margin-top: 10px;
}

.mint-peach__box-1 {
	position: relative;
	background: #FFAA87;
}

.mint-peach__box-2 {
	position: relative;
	background: #FFAA87;
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 2;
	grid-column-end: 4;
}

.mint-peach__box-3 {
	position: relative;
	background: #F55E62;
}

.mint-peach__box-4 {
	position: relative;
	background: #FFAA87;
}

.mint-peach__box-5 {
	position: relative;
	background: #C7ABD4;
}

/* footer */

.footer {
	display: flex;
}

.page__footer {
	width: 100%;
	max-height: 90px;
	justify-content: center;
	background-color: #C4C4C4;
	padding: 30px 0 40px;
}

.footer__title {
	margin: 0;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 20px;
	color: #000000;
}

/* Styles for IE11 */

.squares {
	display: -ms-grid;
	-ms-grid-rows: 241px .8em 241px;
	-ms-grid-columns: 1fr .8em 1fr .8em 1fr;
}

.squares__box-1 {
	-ms-grid-column: 1;
	-ms-grid-column-span: 3;
	-ms-grid-row: 1;
	-ms-grid-row-span: 3;
}

.squares__box-2 {
	-ms-grid-column: 5;
	-ms-grid-row: 1;
}

.squares__box-3 {
	-ms-grid-column: 5;
	-ms-grid-row: 3;
}

/* light-gray */

.light-gray {
	display: -ms-grid;
	-ms-grid-rows: 150px .8em 150px;
	-ms-grid-columns: 1fr .8em 1fr .8em 1fr;
	width: 97%;
}

.light-gray__box-1 {
	-ms-grid-column: 1;
	-ms-grid-row: 1;
}

.light-gray__box-2 {
	-ms-grid-column: 3;
	-ms-grid-row: 1;
}

.light-gray__box-3 {
	-ms-grid-column: 5;
	-ms-grid-row: 1;
}

.light-gray__box-4 {
	-ms-grid-column: 1;
	-ms-grid-column-span: 3;
	-ms-grid-row: 3;
}

.light-gray__box-5 {
	-ms-grid-column: 5;
	-ms-grid-row: 3;
}

.squares__box-1_position_reverse {
	-ms-grid-column: 3;
	-ms-grid-column-span: 5;
	-ms-grid-row: 1;
	-ms-grid-row-span: 3;
}

.squares__box-2_position_reverse {
	-ms-grid-column: 1;
	-ms-grid-row: 1;
}

.squares__box-3_position_reverse {
	-ms-grid-column: 1;
	-ms-grid-row: 3;
}

/* mint-peach*/

.mint-peach {
	display: -ms-grid;
	-ms-grid-rows: 150px .8em 150px;
	-ms-grid-columns: 1fr .8em 1fr .8em 1fr;
}

.mint-peach__box-1 {
	-ms-grid-column: 1;
	-ms-grid-row: 1;
}

.mint-peach__box-2 {
	-ms-grid-column: 3;
	-ms-grid-column-span: 5;
	-ms-grid-row: 1;
}

.mint-peach__box-3 {
	-ms-grid-column: 1;
	-ms-grid-row: 3;
}

.mint-peach__box-4 {
	-ms-grid-column: 3;
	-ms-grid-row: 3;
}

.mint-peach__box-5 {
	-ms-grid-column: 5;
	-ms-grid-row: 3;
}

/* до 480px */

@media screen and (max-width: 479px) {
	.page {
		display: flex;
		flex-direction: column;
	}
	.squares {
		width: 100%;
		order: 2;
	}
	.light-gray {
		grid-template-rows: repeat(3, 155px);
		grid-template-columns: repeat(2, 1fr);
		margin: 0 0 10px;
		width: 100%;
		order: 1;
	}
	.mint-peach {
		grid-template-rows: repeat(3, 155px);
		grid-template-columns: repeat(2, 1fr);
		width: 100%;
		order: 3;
	}
	.mint-peach__box-1 {
		grid-row-start: 3;
		grid-row-end: 4;
		grid-column-start: 1;
		grid-column-end: 2;
	}
	.mint-peach__box-2 {
		grid-row-start: 1;
		grid-row-end: 2;
		grid-column-start: 1;
		grid-column-end: 3;
	}
	.mint-peach__box-3 {
		grid-row-start: 3;
		grid-row-end: 4;
		grid-column-start: 2;
		grid-column-end: 3;
	}
	.mint-peach__box-4 {
		grid-row-start: 2;
		grid-row-end: 3;
		grid-column-start: 1;
		grid-column-end: 2;
	}
	.mint-peach__box-5 {
		grid-row-start: 2;
		grid-row-end: 3;
		grid-column-start: 2;
		grid-column-end: 3;
	}
	.light-green {
		display: none;
	}
	.footer {
		order: 4;
	}
	/* Styles for IE11 */
	.light-gray {
		display: -ms-grid;
		-ms-grid-rows: 155px .8em 155px .8em 155px;
		-ms-grid-columns: 1fr .8em 1fr;
	}
	.light-gray__box-1 {
		-ms-grid-column: 1;
		-ms-grid-row: 1;
	}
	.light-gray__box-2 {
		-ms-grid-column: 3;
		-ms-grid-row: 1;
	}
	.light-gray__box-3 {
		-ms-grid-column: 1;
		-ms-grid-row: 5;
	}
	.light-gray__box-4 {
		-ms-grid-column: 1;
		-ms-grid-column-span: 3;
		-ms-grid-row: 3;
	}
	.light-gray__box-5 {
		-ms-grid-column: 3;
		-ms-grid-row: 5;
	}
	.mint-peach {
		display: -ms-grid;
		-ms-grid-rows: 155px .8em 155px .8em 155px;
		-ms-grid-columns: 1fr .8em 1fr;
	}
	.mint-peach__box-1 {
		-ms-grid-column: 1;
		-ms-grid-row: 5;
	}
	.mint-peach__box-2 {
		-ms-grid-column: 1;
		-ms-grid-column-span: 3;
		-ms-grid-row: 1;
	}
	.mint-peach__box-3 {
		-ms-grid-column: 3;
		-ms-grid-row: 5;
	}
	.mint-peach__box-4 {
		-ms-grid-column: 1;
		-ms-grid-row: 3;
	}
	.mint-peach__box-5 {
		-ms-grid-column: 3;
		-ms-grid-row: 3;
	}
	.squares {
		-ms-grid-rows: 102.25px .8em 102.25px;
	}
}