.squares__box-1 {
	grid-row-start: 1;
	grid-row-end: 3;
	grid-column-start: 1;
	grid-column-end: 3;
	background: #A2A9B7;
	position: relative;
	overflow: auto;
}

.squares__box-1 {
	-ms-grid-column: 1;
	-ms-grid-column-span: 3;
	-ms-grid-row: 1;
	-ms-grid-row-span: 3;
}