.chat__input-field {
	min-width: 96%;
	max-width: 96%;
	min-height: 130px;
	max-height: 130px;
	background: #FFFFFF;
	border: 1px solid #DBDBDB;
	box-sizing: border-box;
	border-radius: 4px;
	overflow-y: auto;
	padding: 10px;
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 19px;
	color: #696969;
}