.squares__box-3 {
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 3;
	grid-column-end: 4;
	position: relative;
	padding-bottom: 100%;
	background: #A2A9B7;
}

.squares__box-3 {
	-ms-grid-column: 5;
	-ms-grid-row: 3;
}